dicnum
dicalphnum
dotconfig/
dotconfigtermux/
helpcomands/
toolbox/
aicli/
audio/
clipcso/
clipso/
desktop/
display/
files/
misc/
neko/
neko-gba/
noemap/
nvim-setup/
persistent-container-podman/
qemu-debian-mac/
rsync-folder/
setup-mac/
sftp-folder/
spfx-tool/
streaming/
system/
termux-setup/
vm/
wifi-setup/
wlab/
zsh-setup/
